* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(/img/_image.webp);
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  color: #0000;
  backdrop-filter: brightness(0.8);
  min-height: 100vh;
}
.card { 
  background-color: rgba(0, 0, 0, 0.479);
  max-width: 500px; 
  width:100%;
  margin-top: 150px;
}