* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: #0000;
  backdrop-filter: brightness(0.8);
  min-height: 100vh;
}
.card {
  background-color: rgba(0, 0, 0, 0.479);
  max-width: 500px;
  width: 100%;
}
.logo {
  width: 100px;
  height: 55px;
}
.footer-logotipo {
  width: 25px;
  height: 25px;
}
@font-face {
  font-family: 'kolker';
  src: url(../fonts/KolkerBrush-Regular.ttf);
  font-weight: bold;
  font-style: bold;
}
a {
  font-family: 'kolker';
  font-weight: bold;
}
.navbar-brand {
  font-size: 60px;
}
